player-connection-mode=Listen
player-connection-guid=2251479604
player-connection-debug=0
player-connection-project-name=EnzoEats
player-connection-ip=10.184.218.253
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=c81dc91e057442b78e9e9c0356bc7f34
